<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Songs </title>
        <meta name="description" content>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link
            href="{{url_for('static' , filename = '/Style/bootstrap.css')}}"
            rel="stylesheet">
        <style>
            body{
                background-color: rgb(255, 216, 87);
            }
            .centerContainer{
                background-color: aqua;
                border-radius: 4%;
                padding: 2%;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%,50%);
            }
            .linkBtn {
                padding: 14px 25px;
                background-color: green;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                border-radius: 5px;
            }
            .data{
                background-color: aqua;
                border-radius: 50%;
            }
            table,th,td{
                border: 3px solid black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="jumbotron">
            <div class="row">
                <div class="col-2 text-left">
                    <a style="background-color: rgb(255, 0, 0);color: white;"
                        class="linkBtn" href="{{ url_for('logout') }}"> Logout
                    </a>
                </div>
                <div class="col-2">
                    <a
                        style="background-color: rgb(0, 255, 13);color: rgb(0, 0, 0);"
                        class="linkBtn" href="{{ url_for('Admin' if user.userType == 'Admin' else 'Creator') }}"> Back
                    </a>
                </div>
                <div class="col-4 text-center">
                    <h1>Songs</h1>
                </div>
                <div class="col-2"></div>
                <div class="col-2" style="text-align: right; margin-right: 0%;">
                    <h6>
                        User Name
                    </h6>
                    <h4>
                        {{user.userName}}
                    </h4>
                </div>
            </div>
        </div>
        <hr style="margin-top: -0.5em; margin-bottom: 0em;">
        <div class="container">
            <div class="row">
                <h3>Songs</h3>
            </div>
            <div class="row">
                {% if user.songs == [] %}
                <h5>No Songs</h5>
                {% else %}
                <div class="table-responsive" style="max-height: 20em;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Id</th>
                                <th>Song Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in user.songs %}
                            <tr>
                                <td>{{i.songId}}</td>
                                <td>{{i.songName}}</td>
                                <td>
                                    <form
                                        action="{{url_for('Player',songName = i.songName)}}"
                                        method="POST">
                                        <input name="songId"
                                            value="{{i.songId}}"
                                            hidden>
                                        <input type="submit" value="Play">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Song Statistics</h3>
            </div>
            <div class="row">
                {% if user.songs == [] %}
                <h5>No Songs</h5>
                {% else %}
                <div class="table-responsive" style="max-height: 20em;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Id</th>
                                <th>Song Name</th>
                                <th>Total Listeners</th>
                                <th>Song Rating</th>
                                <th>Total Rates</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in user.songs %}
                            <tr>
                                <td>{{i.songId}}</td>
                                <td>{{i.songName}}</td>
                                <td>{{i.totalListens}}</td>
                                <td>{{i.songRating}}</td>
                                <td>{{i.totalRates}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <h3>Song Controls</h3>
            </div>
            <div class="row">
                {% if user.songs == [] %}
                <h5>No Songs</h5>
                {% else %}
                <div class="table-responsive" style="max-height: 20em;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Song Id</th>
                                <th>Song Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in user.songs %}
                            <tr>
                                <td>{{i.songId}}</td>
                                <td>{{i.songName}}</td>
                                <td>
                                    {% if user.userType == 'Creator'%}
                                    <form style="display: inline;"
                                        action="{{url_for('editSong' , songName = i.songName)}}"
                                        method="POST">
                                        <input name="songId"
                                            value="{{i.songId}}" hidden>
                                        <input name="from" value="home" hidden>
                                        <input type="submit"
                                            value="Edit">
                                    </form>
                                    {% endif %}
                                    <form style="display: inline;"
                                        action="{{url_for('removeSong' , songName = i.songName)}}"
                                        method="POST">
                                        <input name="songId"
                                            value="{{i.songId}}" hidden>
                                        <input type="submit"
                                            value="Remove">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                <hr>
            </div>
        </div>
    </body>
</html>
